<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">

    <title>Menace détectée</title>
    <meta name="description" content="Menace détectée">
    <meta name="author" content="Oliver Williams - Zimperium">

    <link rel="stylesheet" href="../../css/style.css?v=1.0">
    <link rel="stylesheet" href="../../css/bootstrap.min.css?v=1.0">


</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="../../img/logo.png" alt="Logo" width="auto%" height="50rem"></a>
    </nav>
    <div class="col-sm-12 text-left">
        <div class="container">
            <div class="main">
                <h1>Appareil compromis</h1>
            </div>
            </br>
            <div class="threat">
                <p>Nous avons détecté que votre appareil a été <b>compromis</b>.</p>
                <p>En raison de la nature d'un compromis, vous ne pouvez plus faire confiance à votre appareil. Vous devez contacter l'équipe de support informatique pour une assistance immédiate.</p>
            </div>
            <div class="">
                <h2>Détails de la menace</h2>
                <p class="details">Cette menace est provoquée par l'attaque par un attaquant (physique ou distant) de votre appareil et par l'utilisation d'un exploit pour compromettre l'intégrité du système d'exploitation.</p>
                <p class="details">Une menace de ce type <b> ne peut pas </b> être corrigée.</p>
                <p class="details"><u>Vous devez contacter votre équipe de support informatique pour une assistance immédiate.</u></p>
            </div>
        </div>
    </div>
</body>
<footer class="container-fluid text-center">
    <p>Zimperium - 2019</p>
</footer>

</html>