<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">

    <title>Menace détectée</title>
    <meta name="description" content="Menace détectée">
    <meta name="author" content="Oliver Williams - Zimperium">

    <link rel="stylesheet" href="../../css/style.css?v=1.0">
    <link rel="stylesheet" href="../../css/bootstrap.min.css?v=1.0">


</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="../../img/logo.png" alt="Logo" width="auto%" height="50rem"></a>
    </nav>
    <div class="col-sm-12 text-left">
        <div class="container">
            <div class="main">
                <h1>Connexion sans fil non sécurisée</h1>
            </div>
            </br>
            <div class="threat">
                <p>Nous avons détecté que vous êtes connecté à une <b> connexion sans fil non sécurisée </b>..</p>
                <p>Veuillez suivre les conseils suivants pour résoudre ce problème.</p>
            </div>
            <div class="">
                <h2>Threat details</h2>
                <p class="details">Cette menace est provoquée par l'utilisation d'un réseau sans chiffrement (réseau sans fil ouvert).</p>
                <p class="details">Une menace de ce type <b> peut </b> être résolue.</p>
                <p class="details"><u>Vous pouvez le faire en vous déconnectant du réseau actuel.</u></p>
                <p class="details">Un VPN doit être utilisé si vous souhaitez rester connecté à ce réseau.</p>
            </div>
        </div>
    </div>
</body>
<footer class="container-fluid text-center">
    <p>Zimperium - 2019</p>
</footer>

</html>